<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >
<link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
<body background="http://data.1freewallpapers.com/download/ghost-of-the-caribbean.jpg">

  <h1  align="center">Pirate Ships</h1>
  <br>
  <br>
  <br>

  <h3><a href="/ships">View Ships</a></h3>
  <h3><a href="/pirates">View Pirates</a></h3>

</body>
