<h1>Add Pirate</h1>
<form action="/pirates/new" method="post">
  <label for="pirate-name">Pirate name:</label>
  <input id="pirate-name" name="pirate-name" type="text">
  <label for="pirate-rank">Pirate rank:</label>
  <input id="pirate-rank" name="pirate-rank" type="text">
  <button type="submit">Add pirate</button>
</form>
<p><a href="/">Return home</a></p>
<p><a href="/pirates">View pirates</a></p>
