<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/Content/styles.css" >
<link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
<body background="https://images3.alphacoders.com/265/26585.jpg">
  <br>
  <br>
  <br>
  <form action="/pirates/new" method="post">
    <input id="pirate-name" name="pirate-name" type="text" placeholder="pirate-name">
    <input id="pirate-rank" name="pirate-rank" type="text" placeholder="pirate-rank">
    <button type="submit">Add pirate</button>
  </form>
  <p><a href="/">Return home</a></p>
  <p><a href="/pirates">View pirates</a></p>
