<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/Content/styles.css" >
<link href="https://fonts.googleapis.com/css?family=font-effect-fragile" rel="stylesheet">
<h1>Add Pirate</h1>
<form action="/pirates/new" method="post">
  <label for="pirate-name">Pirate name:</label>
  <input id="pirate-name" name="pirate-name" type="text">
  <label for="pirate-rank">Pirate rank:</label>
  <input id="pirate-rank" name="pirate-rank" type="text">
  <button type="submit">Add pirate</button>
</form>
<p><a href="/">Return home</a></p>
<p><a href="/pirates">View pirates</a></p>
