<h2>Edit ship @Model.GetName()</h2>
<form action="/ship/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="ship-id" type="hidden" value="@Model.GetId()">
  <label for="ship-name">Ship name</label>
  <input id="ship-name" name="ship-name" type="text">
  <button type="submit">Edit</button>
</form>
<h3><a href="/">Return home</a></h3>
