<h1>Add Ships</h1>

<form action="/ships/new" method="post">
  <label for="ship-name">Ship name</label>
  <input id="ship-name" name="ship-name" type="text">
  
  <input id="ship-type" name="ship-type" type="text" placeholder="ship-type">
  <button type="submit">Add ship</button>
</form>

<h4><a href="/">Return home</a></h4>
