<h1>Add Ships</h1>

<form action="/ships/new" method="post">
  <label for="ship-name">Ship name</label>
  <input id="ship-name" name="ship-name" type="text">
  <label for="ship-type">Ship type</label>
  <input id="ship-type" name="ship-type" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
