<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >
<link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">

<body background="http://wallpapercave.com/wp/BdjociA.jpg">

<h1>Add Ships</h1>

<form action="/ships/new" method="post">
<h4>  <label for="ship-name">Ship name</label>
  <input id="ship-name" name="ship-name" type="text">

  <input id="ship-type" name="ship-type" type="text" placeholder="ship-type">
  <button type="submit">Add ship</button><h4>
</form>

<h4><a href="/">Return home</a></h4>

</body>
