@import "http://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";
@import  "https://fonts.googleapis.com/css?family=effect-fragile";
a:link, a:visited {

  color: #808080;
  padding: 14px 25px;
  text-align: center;
  font-family: 'Nosifer', cursive;
  display: table-caption;

}


h1 {
  font-family: 'Nosifer', cursive;
  font-size: 8.5em;
  color: #808080;
  text-align: center;
}

h2 {
  font-family: fire;
  font-size: 60px;
  margin: 40px 0;
  text-align: center;
}

h3 {
  font-family: fire;
  font-size: 30px;
  margin: 40px 0;

}

h4 {
  font-family: fgragile;
  font-size: 30px;
  margin: 40px 0;
  color: #808080;

}

button {
  font-family: 'Nosifer', cursive;
  background-color: black;
  font-size: 1.5em;
  color: #808080;
}

ol {
  font-size: 30px;
}

input[type="text"]
{
  background: transparent;
  width: 276px;
  height: 48px;
  border: 1.5px solid black;
  placeholder: black;
  display:block;
  font-size:18px;
  padding-left:20px;
  padding-right:20px;
  margin-bottom:20px;

}
